{%extends "master.html"%}
{%load staticfiles%}
{%block contenido%}
<h3 align="center">Lista de Productos</h3> </span>

<div class="row justify-content-center align-items-center">
	<div class="col-md-8 col-md-offset-2">
		<a class="btn btn-success" href="{% url 'CProducto' %}"><i class="icon ion-ios-cart"></i></a>
		<table class="table table-striped">
			<tr>
			<td>Nombre</td>
			<td>Precio</td>
			<td>Descripcion</td>
			<td>Imagen</td>
			<td>Opciones</td>
		</tr>
		{%for c in object_list%}
		<tr>
			<td>{{c.Nombre}}</td>
			<td>{{c.Precio}}</td>
			<td>{{c.Descripcion}}</td>
			<td><img src="{{ c.Imagen.url }}" width="150" ></td>
			<td><a href="{% url 'EliminarPro' c.id %}"><i class="icon ion-ios-backspace"></i></a> | <a href="{% url 'ActualizarPro' c.id %}"><i class="icon ion-ios-create"></i></a></a></td>
		</tr>
				{%endfor%}
		</table>
	</div>
</div>
{%endblock%}
